@font-face {
  font-family: "Poppins";
  src: url("../../fonts/fontOne/Poppins-Regular.eot");
  src: url("../../fonts/fontOne/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontOne/Poppins-Regular.woff2") format("woff2"), url("../../fonts/fontOne/Poppins-Regular.woff") format("woff"), url("../../fonts/fontOne/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
#productPageBody main, #productPageBody header .headerBox .headerRightBox, #productPageBody header .headerBox .headerMidBox .searchBox, #productPageBody header .headerBox .headerLeftBox, #productPageBody header, #mainPageBody main, #mainPageBody header .headerBox .headerRightBox, #mainPageBody header .headerBox .headerMidBox .searchBox, #mainPageBody header .headerBox .headerLeftBox, #mainPageBody header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList span, #productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands p, #productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown p, #mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList span, #mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands p, #mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown p {
  background: #f3f9fb;
  padding: 5px;
  border-radius: 6px;
}

#productPageBody .loginPopOut .register .forReg, #productPageBody .loginPopOut .signIn .myBtn, #mainPageBody .loginPopOut .register .forReg, #mainPageBody .loginPopOut .signIn .myBtn {
  cursor: pointer;
  border: 1px solid #008ecc;
  padding: 5px;
  border-radius: 8px;
  width: 40%;
  text-align: center;
  color: #ffffff;
  background: #008ecc;
}
#productPageBody .loginPopOut .register .forReg:hover, #productPageBody .loginPopOut .signIn .myBtn:hover, #mainPageBody .loginPopOut .register .forReg:hover, #mainPageBody .loginPopOut .signIn .myBtn:hover {
  color: #008ecc;
  background: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#mainPageBody {
  background: #ffffff;
  font-family: "poppins";
  position: relative;
}
#mainPageBody .show {
  display: flex !important;
}
#mainPageBody .hide {
  display: none !important;
}
#mainPageBody .yTranslate {
  transform: rotate(180deg) !important;
}
#mainPageBody header {
  height: 90px;
}
#mainPageBody header .headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}
#mainPageBody header .headerBox .headerLeftBox {
  gap: 16px;
}
#mainPageBody header .headerBox .headerLeftBox .logo a {
  text-decoration: none;
  font-weight: 800;
  color: #008ecc;
  font-size: 2.5rem;
}
#mainPageBody header .headerBox .headerMidBox {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 15px;
}
#mainPageBody header .headerBox .headerMidBox .searchBox {
  font-size: 1.1rem;
  background: #f3f9fb;
  padding: 0px 10px;
  border-radius: 3px;
  height: 48px;
  width: 100%;
  gap: 10px;
}
#mainPageBody header .headerBox .headerMidBox .searchBox label {
  cursor: pointer;
  color: #008ecc;
}
#mainPageBody header .headerBox .headerMidBox .searchBox input {
  outline: none;
  border: none;
  background: none;
  font-size: 1.1rem;
  width: 100%;
  color: #008ecc;
}
#mainPageBody header .headerBox .headerMidBox .forBurger {
  position: relative;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .fa-filter {
  color: #008ecc;
  padding: 5px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .fa-filter:hover {
  background: #008ecc;
  color: #f3f9fb;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent {
  position: absolute;
  display: none;
  align-items: center;
  flex-direction: column;
  background: #f3f9fb;
  border: 1px solid #008ecc;
  border-radius: 8px;
  gap: 100px;
  color: #008ecc;
  z-index: 29;
  height: 75vh;
  width: 300px;
  top: 60px;
  right: 0;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category {
  width: 100%;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown {
  position: relative;
  cursor: pointer;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown p:hover {
  background: #008ecc;
  color: #ffffff;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown .categoryList {
  position: absolute;
  z-index: 9;
  top: 43px;
  gap: 5px;
  display: none;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background: #f3f9fb;
  border-radius: 12px;
  height: 500px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown .categoryList span {
  text-decoration: none;
  border-radius: 10px;
  color: #008ecc;
  background: #f3f9fb;
  line-height: 30px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown .categoryList span:hover {
  color: #ffffff;
  background: #008ecc;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands {
  width: 100%;
  position: relative;
  text-align: center;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands p {
  cursor: pointer;
  width: 100%;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands p:hover {
  background: #008ecc;
  color: #ffffff;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: #f3f9fb;
  z-index: 9;
  top: 36px;
  width: 100%;
  border-radius: 8px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList span {
  cursor: pointer;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList span:hover {
  background: #008ecc;
  color: #ffffff;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .minMax {
  display: flex;
  gap: 5px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .minMax input {
  font-size: 1.1rem;
  max-width: 50px;
  border: 1px solid #008ecc;
  border-radius: 3px;
  padding: 3px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .minMax input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .forPriceFilter {
  border: none;
  background: #f3f9fb;
  color: #008ecc;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #008ecc;
  border-radius: 4px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .forPriceFilter:hover {
  color: #f3f9fb;
  background: #008ecc;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .inpRate input {
  font-size: 1.1rem;
  max-width: 50px;
  border: 1px solid #008ecc;
  border-radius: 3px;
  padding: 3px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .inpRate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .forRatings {
  border: none;
  background: #f3f9fb;
  color: #008ecc;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #008ecc;
  border-radius: 4px;
}
#mainPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .forRatings:hover {
  color: #f3f9fb;
  background: #008ecc;
}
#mainPageBody header .headerBox .headerRightBox {
  gap: 10px;
}
#mainPageBody header .headerBox .headerRightBox .logInBox {
  color: #008ecc;
  background: #f3f9fb;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
}
#mainPageBody header .headerBox .headerRightBox .logInBox:hover {
  color: #ffffff;
  background: #008ecc;
}
#mainPageBody header .headerBox .headerRightBox .logOutBox {
  cursor: pointer;
  display: none;
  color: #008ecc;
  background: #f3f9fb;
  padding: 5px;
  border-radius: 3px;
}
#mainPageBody header .headerBox .headerRightBox .logOutBox:hover {
  background: #008ecc;
  color: #f3f9fb;
}
#mainPageBody header .headerBox .headerRightBox .vertLine {
  width: 1px;
  height: 28px;
  background: #ededed;
}
#mainPageBody header .headerBox .headerRightBox .cartBox a {
  border: 1px solid #008ecc;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #008ecc;
  text-decoration: none;
}
#mainPageBody header .headerBox .headerRightBox .cartBox a:hover {
  background: #008ecc;
  color: #f3f9fb;
}
#mainPageBody header .headerBox .headerRightBox .cartBox a .cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  width: 25px;
  height: 25px;
  background: #f3f9fb;
  color: #008ecc;
  border: #008ecc 1px solid;
  border-radius: 3px;
}
#mainPageBody header .headerBox .controlPanel {
  color: #008ecc;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 1080px) {
  #mainPageBody header .headerBox .controlPanel {
    display: flex;
    position: relative;
  }
  #mainPageBody header .headerBox .vertLine {
    transform: rotate(90deg);
  }
  #mainPageBody header .headerBox .headerRightBox {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
    flex-direction: column;
    z-index: 39;
    width: 300px;
    padding: 15px;
    background: #f3f9fb;
    border-radius: 8px;
  }
}
#mainPageBody main {
  flex-direction: column;
  gap: 25px;
}
#mainPageBody main .mainBox {
  width: 80vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px;
}
#mainPageBody main .mainBox .card {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 400px;
  border-radius: 12px;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mainPageBody main .mainBox .card:hover {
  border: 1px solid #008ecc;
}
#mainPageBody main .mainBox .card:hover .productName {
  -webkit-text-decoration: underline #008ecc;
          text-decoration: underline #008ecc;
}
#mainPageBody main .mainBox .card .cardDiscount {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  background: #008ecc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#mainPageBody main .mainBox .card .productImage {
  padding: 5px;
  max-height: 210px;
}
#mainPageBody main .mainBox .card .productImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#mainPageBody main .mainBox .card .forNamePrice {
  padding: 5px;
  color: #008ecc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
#mainPageBody main .mainBox .card .forNamePrice .productName {
  cursor: pointer;
  text-align: center;
}
#mainPageBody main .mainBox .card .forNamePrice .productDiscountPrice {
  display: flex;
  align-items: center;
  gap: 5px;
}
#mainPageBody main .mainBox .card .forNamePrice .productDiscountPrice .price {
  font-size: 0.8rem;
  -webkit-text-decoration: line-through #ff0000;
          text-decoration: line-through #ff0000;
}
#mainPageBody main .mainBox .card .forNamePrice .productDiscountPrice .discount {
  font-weight: 700;
  font-size: 1.1rem;
}
#mainPageBody main .mainBox .card .rateAndCart {
  color: #008ecc;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
#mainPageBody main .mainBox .card .rateAndCart .addToCart {
  cursor: pointer;
}
#mainPageBody .loginPopOut {
  position: absolute;
  top: 100px;
  left: 35%;
  z-index: 19;
}
#mainPageBody .loginPopOut .signIn {
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
}
#mainPageBody .loginPopOut .signIn i {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}
#mainPageBody .loginPopOut .signIn h3 {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#mainPageBody .loginPopOut .signIn input {
  padding: 10px;
  width: 90%;
  border: 1px solid #008ecc;
  border-radius: 8px;
  outline: #008ecc;
}
#mainPageBody .loginPopOut .signIn input::-moz-placeholder {
  color: #008ecc;
}
#mainPageBody .loginPopOut .signIn input::placeholder {
  color: #008ecc;
}
#mainPageBody .loginPopOut .signIn input:invalid {
  border: 1px solid #ff0000;
}
#mainPageBody .loginPopOut .signIn .registerBtn {
  cursor: pointer;
}
#mainPageBody .loginPopOut .signInSuccessful {
  font-size: 2rem;
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
  text-align: center;
}
#mainPageBody .loginPopOut .signInSuccessful i {
  font-size: 3rem;
  cursor: pointer;
}
#mainPageBody .loginPopOut .noSuccess {
  font-size: 2rem;
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
  text-align: center;
}
#mainPageBody .loginPopOut .noSuccess i {
  font-size: 3rem;
  cursor: pointer;
}
#mainPageBody .loginPopOut .register {
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
}
#mainPageBody .loginPopOut .register i {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}
#mainPageBody .loginPopOut .register h3 {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#mainPageBody .loginPopOut .register input {
  padding: 10px;
  width: 90%;
  border: 1px solid #008ecc;
  border-radius: 8px;
  outline: #008ecc;
}
#mainPageBody .loginPopOut .register input::-moz-placeholder {
  color: #008ecc;
}
#mainPageBody .loginPopOut .register input::placeholder {
  color: #008ecc;
}
#mainPageBody .loginPopOut .register input:invalid {
  border: 1px solid #ff0000;
}
#mainPageBody .loginPopOut .register .gender {
  display: flex;
  gap: 25px;
  justify-content: center;
}
#mainPageBody .loginPopOut .register .gender label {
  display: flex;
  gap: 3px;
  cursor: pointer;
}
#mainPageBody .loginPopOut .register .goBack {
  cursor: pointer;
}
#mainPageBody .blurBG {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}

#productPageBody {
  background: #ffffff;
  font-family: "poppins";
  position: relative;
}
#productPageBody .show {
  display: flex !important;
}
#productPageBody .hide {
  display: none !important;
}
#productPageBody .yTranslate {
  transform: rotate(180deg) !important;
}
#productPageBody header {
  height: 90px;
}
#productPageBody header .headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}
#productPageBody header .headerBox .headerLeftBox {
  gap: 16px;
}
#productPageBody header .headerBox .headerLeftBox .logo a {
  text-decoration: none;
  font-weight: 800;
  color: #008ecc;
  font-size: 2.5rem;
}
#productPageBody header .headerBox .headerMidBox {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 15px;
}
#productPageBody header .headerBox .headerMidBox .searchBox {
  font-size: 1.1rem;
  background: #f3f9fb;
  padding: 0px 10px;
  border-radius: 3px;
  height: 48px;
  width: 100%;
  gap: 10px;
}
#productPageBody header .headerBox .headerMidBox .searchBox label {
  cursor: pointer;
  color: #008ecc;
}
#productPageBody header .headerBox .headerMidBox .searchBox input {
  outline: none;
  border: none;
  background: none;
  font-size: 1.1rem;
  width: 100%;
  color: #008ecc;
}
#productPageBody header .headerBox .headerMidBox .forBurger {
  position: relative;
}
#productPageBody header .headerBox .headerMidBox .forBurger .fa-filter {
  color: #008ecc;
  padding: 5px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .fa-filter:hover {
  background: #008ecc;
  color: #f3f9fb;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent {
  position: absolute;
  display: none;
  align-items: center;
  flex-direction: column;
  background: #f3f9fb;
  border: 1px solid #008ecc;
  border-radius: 8px;
  gap: 100px;
  color: #008ecc;
  z-index: 29;
  height: 75vh;
  width: 300px;
  top: 60px;
  right: 0;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category {
  width: 100%;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown {
  position: relative;
  cursor: pointer;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown p:hover {
  background: #008ecc;
  color: #ffffff;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown .categoryList {
  position: absolute;
  z-index: 9;
  top: 43px;
  gap: 5px;
  display: none;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background: #f3f9fb;
  border-radius: 12px;
  height: 500px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown .categoryList span {
  text-decoration: none;
  border-radius: 10px;
  color: #008ecc;
  background: #f3f9fb;
  line-height: 30px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .category .categotyDropDown .categoryList span:hover {
  color: #ffffff;
  background: #008ecc;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands {
  width: 100%;
  position: relative;
  text-align: center;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands p {
  cursor: pointer;
  width: 100%;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands p:hover {
  background: #008ecc;
  color: #ffffff;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: #f3f9fb;
  z-index: 9;
  top: 36px;
  width: 100%;
  border-radius: 8px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList span {
  cursor: pointer;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .brands .brandsList span:hover {
  background: #008ecc;
  color: #ffffff;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .minMax {
  display: flex;
  gap: 5px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .minMax input {
  font-size: 1.1rem;
  max-width: 50px;
  border: 1px solid #008ecc;
  border-radius: 3px;
  padding: 3px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .minMax input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .forPriceFilter {
  border: none;
  background: #f3f9fb;
  color: #008ecc;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #008ecc;
  border-radius: 4px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .price .forPriceFilter:hover {
  color: #f3f9fb;
  background: #008ecc;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .inpRate input {
  font-size: 1.1rem;
  max-width: 50px;
  border: 1px solid #008ecc;
  border-radius: 3px;
  padding: 3px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .inpRate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .forRatings {
  border: none;
  background: #f3f9fb;
  color: #008ecc;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #008ecc;
  border-radius: 4px;
}
#productPageBody header .headerBox .headerMidBox .forBurger .burgerContent .rating .forRatings:hover {
  color: #f3f9fb;
  background: #008ecc;
}
#productPageBody header .headerBox .headerRightBox {
  gap: 10px;
}
#productPageBody header .headerBox .headerRightBox .logInBox {
  color: #008ecc;
  background: #f3f9fb;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
}
#productPageBody header .headerBox .headerRightBox .logInBox:hover {
  color: #ffffff;
  background: #008ecc;
}
#productPageBody header .headerBox .headerRightBox .logOutBox {
  cursor: pointer;
  display: none;
  color: #008ecc;
  background: #f3f9fb;
  padding: 5px;
  border-radius: 3px;
}
#productPageBody header .headerBox .headerRightBox .logOutBox:hover {
  background: #008ecc;
  color: #f3f9fb;
}
#productPageBody header .headerBox .headerRightBox .vertLine {
  width: 1px;
  height: 28px;
  background: #ededed;
}
#productPageBody header .headerBox .headerRightBox .cartBox a {
  border: 1px solid #008ecc;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #008ecc;
  text-decoration: none;
}
#productPageBody header .headerBox .headerRightBox .cartBox a:hover {
  background: #008ecc;
  color: #f3f9fb;
}
#productPageBody header .headerBox .headerRightBox .cartBox a .cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  width: 25px;
  height: 25px;
  background: #f3f9fb;
  color: #008ecc;
  border: #008ecc 1px solid;
  border-radius: 3px;
}
#productPageBody header .headerBox .controlPanel {
  color: #008ecc;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 1080px) {
  #productPageBody header .headerBox .controlPanel {
    display: flex;
    position: relative;
  }
  #productPageBody header .headerBox .vertLine {
    transform: rotate(90deg);
  }
  #productPageBody header .headerBox .headerRightBox {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
    flex-direction: column;
    z-index: 39;
    width: 300px;
    padding: 15px;
    background: #f3f9fb;
    border-radius: 8px;
  }
}
#productPageBody main {
  flex-direction: column;
  gap: 25px;
}
#productPageBody main .productBox {
  width: 80vw;
  height: 100%;
  position: relative;
  display: flex;
  gap: 50px;
  padding: 5px;
}
#productPageBody main .productBox .detailImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 30%;
  height: 100%;
}
#productPageBody main .productBox .detailImages .mainImage {
  display: flex;
  align-items: center;
  max-width: 340px;
  height: 340px;
}
#productPageBody main .productBox .detailImages .mainImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
#productPageBody main .productBox .detailImages .subImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 340px;
}
#productPageBody main .productBox .detailImages .subImages img {
  max-width: 75px;
  height: 75px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #008ecc;
}
#productPageBody main .productBox .detailImages .subImages img:hover {
  border: 3px solid #008ecc;
}
#productPageBody main .productBox .forDetails {
  color: #008ecc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
  font-size: 1.2rem;
}
#productPageBody main .productBox .forDetails .stockAndCart {
  display: flex;
  gap: 50px;
  align-items: center;
}
#productPageBody main .productBox .forDetails .stockAndCart .prodAddToCart {
  border: 1px solid #008ecc;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}
#productPageBody main .productBox .forDetails .stockAndCart .prodAddToCart:hover {
  color: #f3f9fb;
  background: #008ecc;
}
#productPageBody main .productBox .forDetails .prodDetailsAndRate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#productPageBody .loginPopOut {
  position: absolute;
  top: 100px;
  left: 35%;
  z-index: 19;
}
#productPageBody .loginPopOut .signIn {
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
}
#productPageBody .loginPopOut .signIn i {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}
#productPageBody .loginPopOut .signIn h3 {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#productPageBody .loginPopOut .signIn input {
  padding: 10px;
  width: 90%;
  border: 1px solid #008ecc;
  border-radius: 8px;
  outline: #008ecc;
}
#productPageBody .loginPopOut .signIn input::-moz-placeholder {
  color: #008ecc;
}
#productPageBody .loginPopOut .signIn input::placeholder {
  color: #008ecc;
}
#productPageBody .loginPopOut .signIn input:invalid {
  border: 1px solid #ff0000;
}
#productPageBody .loginPopOut .signIn .registerBtn {
  cursor: pointer;
}
#productPageBody .loginPopOut .signInSuccessful {
  font-size: 2rem;
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
  text-align: center;
}
#productPageBody .loginPopOut .signInSuccessful i {
  font-size: 3rem;
  cursor: pointer;
}
#productPageBody .loginPopOut .noSuccess {
  font-size: 2rem;
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
  text-align: center;
}
#productPageBody .loginPopOut .noSuccess i {
  font-size: 3rem;
  cursor: pointer;
}
#productPageBody .loginPopOut .register {
  margin: 0 auto;
  width: 30vw;
  border: 1px solid #008ecc;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 35%;
  padding: 10px;
  color: #008ecc;
  background: #f3f9fb;
}
#productPageBody .loginPopOut .register i {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
}
#productPageBody .loginPopOut .register h3 {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#productPageBody .loginPopOut .register input {
  padding: 10px;
  width: 90%;
  border: 1px solid #008ecc;
  border-radius: 8px;
  outline: #008ecc;
}
#productPageBody .loginPopOut .register input::-moz-placeholder {
  color: #008ecc;
}
#productPageBody .loginPopOut .register input::placeholder {
  color: #008ecc;
}
#productPageBody .loginPopOut .register input:invalid {
  border: 1px solid #ff0000;
}
#productPageBody .loginPopOut .register .gender {
  display: flex;
  gap: 25px;
  justify-content: center;
}
#productPageBody .loginPopOut .register .gender label {
  display: flex;
  gap: 3px;
  cursor: pointer;
}
#productPageBody .loginPopOut .register .goBack {
  cursor: pointer;
}
#productPageBody .blurBG {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=stylesIndex.css.map */